
body, html{height:100%}
#root{height: 100%;}

body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(222, 222, 222);
}

* {
  font-family: 'Inter', sysem-ui;
}

.wrapper{
  min-height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 0px;

  max-width: 1080px;
  // min-width: 100vw;
  margin:  0px auto;
}

.content{
  min-height: 100%;
  h1{
    margin: 0;
  }
}

.button{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 0px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block{
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}


.greenButton{
  
    width: 100%;
    height: 55px;
    background: black;
    border-radius: 0px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;


    &:disabled{
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover{
      background: lighten($color: #000000, $amount: 5%);
    }

    &:active{
      background: darken($color: #000000, $amount: 5%);
    }

  
}

.cartEmpty{
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton{
    width: 245px;
    margin-top: 20px;

    img{
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;

    }
  }
}

.emptyInformation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2{
    margin: 30px 0 0 0;
  }

  img{
    
    width: 100px;
  }
  button{
    width: 200px;

    img{
      width: 12px;
      transform: rotate(180deg);
    }
  }
}

@keyframes button-loading {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}


.overflowHidden{
  overflow:hidden;
  height: 100vh;
}